<section id="lower_content" class="national_lower_content">

  <section id="national_footer">
 
    <aside>
      <h2>Carrots, Pigs, & Three Million Dollars</h2>

      <p>
        Steve Ramsey was recently asked to present a rapid-fire five minute presentation at an “Ignite” event in the
        Seattle area. Check out his ideas on how a simple changes in every day spending can have a huge impact on the 
        local economy.
      </p>

      <p class="readmore">
        <a href="http://blog.relylocal.com/carrots-pigs-three-million-dollars/" target="_blank">Check it out...
        </a>
      </p>
    </aside>
    <aside>
      <h2>RelyLocal Launches $20 Shift Campaign</h2>

      <p>
        RelyLocal's new $20 Shift Calculator was designed to illustrate how
        small changes in existing spending can have a huge impact on the local economy.
      </p>

      <p class="readmore">
        <a href="http://www.relylocal.com/national/occupy-main-street" target="_blank">Check it out...
        </a>
      </p>
    </aside>

    <aside>
      <h2>RelyLocal Co-Founder Talks "Hyper-Local" on NBC9</h2>

      <p>
        Steve Ramsey sits down with Greg Moss (NBC9) during the "Local Business Matters" tour
        to talk about how the RelyLocal campaign is positioned to
        help local businesses compete while helping to rebuild healthy local economies.
      </p>

      <p class="readmore">
        <a href="http://content.relylocal.com/blog/steve-ramsey-talks-about-hyper-local-on-9-news-nbc-denver/" target="_blank">Watch the video...
        </a>
      </p>
    </aside>

    <aside>
      <h2>RelyLocal Reports 325% Growth In Second Quarter</h2>

      <p>
        “Obviously, we are quite pleased,” noted company co-Founder, Steve
        Ramsey. “But, we had actually scaled back on the launching of any new
        territories in Q2 in an effort to control the growth while we focused on
        on the development of new programs that will go public in Q3.”
      </p>

      <p class="readmore">
        <a href="http://content.relylocal.com/blog/relylocal-reports-325-q2-growth-searches-for-new-partners-across-u-s/" target="_blank">Read
          more
        </a>
      </p>
    </aside>


  </section>
</section>
