<div class="custom-content">
  <h1>Copyright Notice</h1> 
  <p>All rights, titles and interest in the entire contents of the RelyLocal's website is copyrighted as a collective work under the United States and other copyright laws.</p> 
  <p>The collective work may also include works that are the property of RelyLocal's licensors, which are also protected by copyright and other intellectual property laws. You hereby acknowledge and agree that RelyLocal and/or any third party content providers remain the owners of any posted materials on the website, and that you do not acquire any ownership rights over any such copyrighted materials by downloading or, otherwise, using them.</p> 
  <p>Any redistribution, retransmission, or publication of any material or content on the website is strictly prohibited without the express written consent RelyLocal. You further agree not to modify or delete any proprietary notices from materials downloaded from the website. No part of this website may be reproduced, downloaded, linked or otherwise used without the express written permission of RelyLocal. </p>
</div>