<div class="custom-content">
  <h1>RelyLocal Press &amp; Media</h1>
  <p><strong>For press and media inquiries, please contact:</strong><br>
    Steve Ramsey<br>
    Co-Founder<br>
    <a href="mailto:media@relylocal.com">media@relylocal.com</a><br>
  (541) 595-3939 x4</p>

  <h2>Recent RelyLocal News</h2>
  <p>Feb 13, 2012 - <a href="http://www.relylocal.com/national/occupy-main-street" target="_blank">RelyLocal Launches the $20 Shift Campaign</a><br>
    <small>Use RelyLocal's new $20 Shift Calculator to see how little changes in your daily routine can make a big difference in the community. Refocusing just $20 of your current spending toward local businesses (instead of online, national, or big-box merchants) can have a major impact in our community!</small></p>
  <p>Sep 30, 2011 - <a href="ttp://content.relylocal.com/blog/steve-ramsey-talks-about-hyper-local-on-9-news-nbc-denver/" target="_blank">Steve Ramsey talks about hyper-local with NBC9</a><br>
    <small>RelyLocal's co-Founder Steve Ramsey sits down with Greg Moss (NBC9) during the "Local Business Matters" tour to talk about how the RelyLocal campaign is positioned to help local businesses compete and help to rebuild healthy local economies.</small></p>
  <p>July 21, 2011 - <a href="http://www.relylocal.com/blog/relylocal-reports-325-q2-growth-searches-for-new-partners-across-u-s/" target="_blank">RelyLocal Reports 325% Q2 Growth, Searches for New Partners Across U.S.</a><br>
    <small>RelyLocal, an Oregon start-up, unveiled its new website today. The release was timed to celebrate their first year in operation, with the launch of local chapters in over 550 cities, supporting over 20,000 local businesses, and creating over 330 new jobs across the country...</small></p>
  <p>June 10, 2011 - <a href="http://www.relylocal.com/blog/independents-day/" target="_blank">RelyLocal Declares: Independent’s Day! Celebrating Local Businesses on September 4th!</a><br>
    <small>Yes, we know how to spell “Independence” and what makes this country so great! But, what about all of the “Independent” merchants out there who also deserve to be celebrated for their contribution to our communities and way of life?</small></p>
  <p>April 4, 2011 - <a href="http://www.relylocal.com/blog/relylocal-celebrates-explosive-first-year-growth-with-launch-of-new-website-and-community-campaigns/" target="_blank">RelyLocal Celebrates Explosive First-Year Growth with Launch of New Website and Community Campaigns</a><br>
    <small>RelyLocal, an Oregon start-up, unveiled its new website today. The release was timed to celebrate their first year in operation, with the launch of local chapters in over 550 cities, supporting over 20,000 local businesses, and creating over 330 new jobs across the country...</small></p>
  <p>Oct 26, 2010 - <a href="http://www.relylocal.com/blog/women-entrepreneurs-the-relylocal-anomaly/" target="_blank">Women Entrepreneurs : The RelyLocal Anomaly</a><br>
    <small>In the last ten months, over 100 RelyLocal campaigns have been launched, and the company is proud to announce that 45 of them are led by women entrepreneurs - more than 30% above the national average for women starting their own businesses. The company expects for women to be the majority of RelyLocal leaders across the U.S. in 2011.</small></p>
  <p>July 15, 2010 - <a href="http://www.prweb.com/releases/2010/07/prweb4149024.htm" target="_blank">Oregon Company Creates Hundreds of Jobs in Campaign to Rebuild Local Economies</a><br>
  <small>Within six months of launching, over one hundred cities in twenty-six states have joined a revolution, resulting in over two hundred new jobs being created to support thousands of local businesses across the country. Their mission is to stabilize and rebuild local economies. Their message is simple - RelyLocal.</small></p>
  <p>June 14, 2010 - <a href="http://www.prweb.com/releases/Gulf_Coast_Businesses/Unite_With_RelyLocal/prweb3717464.htm" target="_blank">Despite Oil Spill Disaster, Local Advocates Inspire Emerald Coast With Hope and Resolve</a><br>
  <small>Without the proper safety equipment or special training, long-time Pensacola resident Theresa Chmiel knows she won't be able to take part in the clean up effort following the Deep Horizon oil spill. Instead, she launched a campaign to unite local residents in a fight for the economic stability of their area. Joined by others along the Emerald Coast and across the country, Chmiel reminds her community of their historic resolve and perseverance - even in the worst of times.</small></p>

  <p>Feb 22, 2010 - <a href="http://www.youtube.com/RelyLocal#p/a/f/1/JCXjp2UHkhA" target="_blank">Fox 29: RelyLocal  &quot;Buy Local&quot; Campaigns Expand To Florida</a><br>
  <small>Short news story from Fox29 in West Palm Beach, FL.</small></p>
  <p>For more about RelyLocal, be sure to read our <a href="http://www/relylocal.com/blog" target="_blank">RelyLocal Blog</a> (from the national offices).</p>
</div>