<div class="custom-content">
  <h1>Privacy Policy </h1> 
  <h2>1. Our Commitment to Privacy</h2> 
  <p>This notice describes the Privacy Policy of RelyLocal. Our privacy policy is designed to advise you about how we collect, use, and protect the personal information you provide. By visiting this site, you are accepting the practices described in this Privacy Policy.</p> 
  <h2>2. What Information is Collected</h2> 
  <p><strong>(a) Information You Provide to Us:</strong> Other than as identified below, we do not collect any personal information on our website.</p> 
  <p><strong>(b) Automatic Information:</strong>. When you visit a website, you disclose certain information, such as your Internet Protocol (IP) address and the time of your visit. This site, like many other sites, automatically records this basic information about visits to our site.</p> 
  <p><strong>(c) &quot;Cookies&quot;:</strong> Cookies are pieces of information that are transferred to your computer from a web server. Most browsers are set up to accept cookies, but you can change your settings to have your browser notify you when you receive a new cookie or refuse to accept cookies. <em>(However, cookies are required to help your browser communicate with our sites, in order to automatically send you to the correct location.)</em></p> 
  <h2>3. How and When the Information is Used</h2> 
  <p>Any personal information we collect, whether via the website or otherwise, is used only for the administration of RelyLocal business and in furtherance of our mission. The privacy and protection of your information is very important to us. We do not share your personal information with any third parties, other than RelyLocal and related associations. We will not disclose any individually identifiable information to any third party (other than RelyLocal and related associations) without first receiving your permission.</p> 
  <h2>4. Consent</h2> 
  <p>By using our website, you consent to the collection and use of your personal information as described in this Privacy Policy.</p> 
  <h2>&nbsp;</h2>
</div>