body {
  margin: 0 auto;
  width: 511pt;
}

a {
  color: #A94C36;
}

.container {
  padding: 10px;
}

.rewards .yui3-g {
  border-bottom: 1px solid #E5E5E5;
}

h1 {
  font-size: 197%;
  font-weight: bold;
  padding-top: 35px;
}

h2 {
  font-weight: bold;
  font-size: 108%;
}

.right {
  float: right;
}

.rewards {
  margin-top: 30px;
}

.reward {
  margin-bottom: 12px;
}

.description {
  margin-top: 20px;
}

strong {
  font-weight: bold;
}
