form.simple_form {

  .fieldset {
    background-color: #f2f2f2;
    margin-bottom: 15px;
    padding: 10px 20px 4px 20px;
    margin: 15px auto;
    width: 620px;
  }

  label {
    color: #666666;
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
  }

  .hint {
    clear: left;
    font-size: 85%;
    color: #a1a1a1;
    display: block;
    font-style: italic;
    a {
      font-size: 85%;
      color: #a1a1a1;
      font-style: italic;
    }
  }

  .boolean label, label.collection_radio {
    display: inline;
    padding-left: 3px;
  }

  abbr[title='required'] {
    color: #790e11;
    font-weight: bold;
    font-size: 123.1%;
  }

  h3 {
    font-weight: bold;
    font-size: 123.1%;
    margin-bottom: 15px;
  }

  .input {
    margin-bottom: 15px;
  }

  input, select {
    padding: 3px;
  }

  .submit {
    background-color: #dddddd;
    overflow: auto;

    .buttons {
      margin: 15px auto;
      width: 620px;

      input[type='submit'] {
        background-color: #09215f;
        color: #ffffff;
        height: 27px;
        border: 0 none;
        padding: 0 12px;
      }
    }

  }

  a.add_nested_fields, a.add_link {
    color: #102765;
    background: transparent url("/images/add-icon.png") no-repeat;
    padding-left: 20px;
    text-decoration: none;
    margin-bottom: 15px;
    display: block;
  }

  a.remove_nested_fields, a.remove_link  {
    color: #102765;
    background: transparent url("/images/remove-icon.png") no-repeat;
    padding-left: 20px;
    text-decoration: none;
    /*margin-bottom: 15px;*/
    display: block;
    /*position: absolute;
    right: 50px;
    bottom: 0;*/
  }

  .fields {
    background-color: #eae7e7;
    padding: 10px;
    margin-bottom: 10px;
  }

  a:hover {
    text-decoration: underline;
  }

  .error_explanation {
    background-color: #ffe5e6;
    color: #790e11;

    h2 {
      padding: 20px 0 0 15px;
      font-weight: bold;
      font-size: 123.1%;
      margin: 0 auto;
      width: 620px;
    }

    ul {
      margin: 0 auto;
      padding-left: 5px;
      width: 620px;
      padding-bottom: 20px;
    }

  }

  .error {
    background: transparent url("/images/error-icon.png") no-repeat 5px 1px;
    padding: 1px 1px 1px 25px;
    clear: left;
    color: #790e11;
    display: block;
    background-color: #790e11;
    color: #ffffff;
    font-weight: bold;
    margin-top: 3px;
  }

}

.title {
  margin: 15px auto;
  width: 620px;

  h1 {
    color: #790e11;
    font-size: 182%;
    text-transform: uppercase;
    font-weight: bold;
  }
  h2 {
    font-size: 138.5%;
    font-weight: bold;
    margin-bottom: 10px;
    a {
      color: #000000;
    }
  }
  .tip {
    color: #a1a1a1;
    font-size: 93%;
    width: 75%;
    p {
      margin-bottom: 10px;
    }
    a {
      color: #a1a1a1;
    }
  }
  abbr[title='required'] {
    color: #790e11;
    font-weight: bold;
    font-size: 123.1%;
  }
}

.section {
  background-color: #f2f2f2;
  margin-bottom: 15px;
  padding: 10px 20px;
  margin: 15px auto;
  width: 620px;
  overflow: auto;
  h3 {
    font-weight: bold;
    font-size: 123.1%;
    margin-bottom: 15px;
  }
  table {
    /*th {
      font-size: 85%;
      font-weight: bold;
      color: #790e11;
      text-align: center;
    }*/
    th {
      background-color: #3f3e3c;
      font-weight: bold;
      color: #ffffff;
      padding: 5px;
      font-size: 85%;
      border-left: 1px solid #ffffff;
    }
    td {
      font-size: 85%;
      /*font-weight: bold;*/
      padding: 2px 3px;
      text-align: right;
      border-left: 1px solid #eae7e7;
    }
    .first {
      border-left: none;
    }
  }
  .column {
    float: left;
    padding-right: 15px;
    clear: right;
  }
}

.section.reset_links {
  margin-top: 3em;
  a {
    color: #102765;
    font-weight: normal;
    text-decoration: none;
   }

  a:hover {
    text-decoration: underline;
  }
}

.index-page {

  .browse-title {
    margin: 15px auto;
    width: 620px;
    font-size: 85%;
    font-weight: bold;
    margin-bottom: 20px;

    ul {
      display: inline;

      li {
        padding-left: 3px;
        display: inline;
        a {
          color: #102765;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .filter-users-bar {
    margin: 15px auto 0px;
    width: 620px;
    font-size: 85%;
    font-weight: bold;

    form {
      padding: 0px;
      margin: 2px 0px 0px 0px;
      position: relative;
      top: -15px;
      left: 130px;
    }
  }

  .search-bar {
    margin: 15px auto 10px;
    width: 620px;
    font-size: 85%;
    font-weight: bold;

    form {
      padding: 0px;
      margin: 0px;
      position: relative;
      top: -15px;
      left: 130px;
    }
  }

  .link-bar {
    margin: 15px auto;
    width: 620px;
    font-size: 93%;
    margin-bottom: 20px;

    ul {
      li {
        padding-right: 20px;
        display: inline;
        a {
          color: #102765;
          text-decoration: none;
          padding-left: 20px;
          padding-bottom: 1px;
        }
        a:hover {
          text-decoration: underline;
        }

        .add-link {
          background: transparent url("/images/add-icon.png") no-repeat;
        }
        .download-link {
          background: transparent url("/images/download-icon.png") no-repeat;
        }
        .search-link {
          background: transparent url("/images/search-icon.png") no-repeat;
        }
      }
    }
  }

  .pagination {
    position: relative;
    background-color: #f2f2f2;
    margin: 0 auto;
    width: 620px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 93%;

    a {
      color: #102765;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }

    .right {
      position: absolute;
      right: 20px;
      top: 10px;
    }

    .pagination_div {
      display: inline;
      padding-left: 12px;
    }
  }

  table.index-table {
    margin: 0 auto;
    width: 660px;
    border-bottom: 10px solid #3f3e3c;

    th {
      background-color: #3f3e3c;
      font-weight: bold;
      color: #ffffff;
      padding: 10px;
      font-size: 93%;
      border-left: 1px solid #ffffff;
    }

    .odd {
      background-color: #f2f2f2;
    }

    td {
      vertical-align: top;
      font-size: 93%;
      font-weight: bold;
      padding: 20px 10px;
      border-left: 1px solid #eae7e7;
      a {
        color: #102765;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    td.last {
      padding-right: 10px;
    }

    .first {
      padding-left: 20px;
      border-left: none;
    }

    .last {
      padding-right: 20px;
    }

    table.inner {
      td {
        padding: 0;
        border: none;
      }
      .label {
        padding-right: 20px;
      }
      .name {
        font-size: 108%;
        color: #790e11;
      }
    }

    .ui-sortable tr {
      cursor: move;
    }

    ul.actions {
      a {
        font-size: 93%;
        color: #102765;
        font-weight: bold;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }

  }

  .bottom-link-bar {
    margin: 15px auto;
    width: 660px;
    font-size: 93%;
    margin-bottom: 20px;

    ul {
      float: right;
      li {
        padding-left: 20px;
        display: inline;
        a {
          color: #102765;
          text-decoration: none;
          padding-left: 20px;
          padding-bottom: 1px;
        }
        a:hover {
          text-decoration: underline;
        }

        .de-select-all-link {
          background: transparent url("/images/remove-icon.png") no-repeat;
        }
        .delete-link {
          background: transparent url("/images/delete-icon.png") no-repeat;
        }
      }
    }
  }

  .nav-next, .nav-prev, .nav-next-overlay, .nav-prev-overlay { visibility: hidden; }
  .panel .panel-overlay, .panel .overlay-background {
    background-color: #deefd0;
    height: 50px;
    font-size: 100%;
    border-top: 2px solid #0f175f;
    h3 {
      padding-top: 5px;
      font-size: 108%;
      font-weight: bold;
      color: #00462e;
      text-transform: uppercase;
    }
    p {
      font-size: 93%;
      color: #0f175f;
      font-weight: normal;
    }
  }

  .gallery {
    background: none;
    border: none;
    padding: 0;
  }
}

table.summary {
  tr:hover {
    cursor: pointer;
    td {
      text-decoration: underline;
    }
  }

  tr.no_link:hover {
    cursor: default;
    td {
      text-decoration: none;
    }
  }
}
