%ul#business-icon-legend
  %li
    %img{:alt => "100% Local", :src => "/images/head_red.png"}/
    \= 100% Local
  %li
    %img{:alt => "Regional Chain", :src => "/images/head_blue.png"}/
    \= Regional Chain
  %li
    %img{:alt => "Local Franchise", :src => "/images/head_orange.png"}/
    \= Local Franchise
  %li
    %img{:alt => "Independent Agent", :src => "/images/head_green.png"}/
    \= Independent Agent
  %li
    %img{:alt => "Non-Profit", :src => "/images/head_green.png"}/
    \= Non-Profit
  %li
    %img{:alt => "Sponsor", :src => "/images/bar_graph.png"}/
    \= Sponsor
